build/
build/*
debug/
debug/*
output/
output/*
tmp/
tmp/*
.idea/
.idea/*
Logs/
Logs/*
testing/
testing/*
.gradle/*
.gradle/
src/main/java/com/bundle/recompile/*
src/main/java/com/bundle/recompile/
src/main/java/com/bundle/signbundle/*
src/main/java/com/bundle/signbundle/
src/main/java/com/bundle/resources/image/*
src/main/java/com/bundle/resources/image/

