src/
src/*
build.gradle
gradlew
gradlew.bat
settings.gradle
build/classes/
build/generated/
build/reports/
build/resources/
build/test-results/
debug/
debug/*
output/
output/*
tmp/
tmp/*
.idea/
.idea/*
Logs/
Logs/*
testing/
testing/*
.gradle/*
.gradle/
gradle/
gradle/*
BundleDecompiler.sh
.gitignore
